body{
	min-height: 1000px;
	

}
html{
	scroll-behavior: smooth;

}
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 5px;
	z-index: 1;
	transition: 0.6s;
	text-align: center;


}
header .logo{
	position: relative;
	font-weight: 700;
	margin-left: 20px;
	color: #fff;
	text-decoration: none;
	font-size: 2rem;
	letter-spacing: 2px;
	transition: 0.6s;
}
header ul{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

}
header ul li{
	position: relative;
	list-style: none;

}
header ul li a{
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #fff;
	letter-spacing: 2px;
	font-weight: 300;
	transition: 0.6s;
}
.banner{
	position: relative;
	width: cover;
	min-height: 100vh;
    background: url(bg.jpg);
    background-color: rgba(0,0,0,0.9);
    background-size: cover;
    display: flex;
    justify-content: center;
    opacity: ;
    align-items: center;

}
.banner h2{
	color: #fff;
	font-size: 50px;
	text-transform: uppercase;
	text-align: center;
	line-height: 1em;

}
.sec{
	background: rgba(255,255,255,0.5);
	padding: 100px;
	min-height: 100vh;
	display: flex;
	justify-content: center;


}
.container{
	padding: 60px;
}
h1{
	font-size: 40px;
	font-weight: 200;
	letter-spacing: 0.5rem;
}
.sec .content{
	position: relative;
	text-align: center;
	width: 100%;
	margin: 0 auto;

}
.mxw800p{
	max-width: 800px;
	margin: 0 auto;
}
p{
	position: relative;
	font-weight: 300;
	font-size: 18px;
	letter-spacing: 0.1rem;
	margin-bottom: 20px;

}

.container2{
	position: relative;
	width: 1050px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	transition: 0.5s;

}
.container2 .card{
	position: relative;
	width: 300px;
	height: 350px;
	background: #fff;
	transition: 0.5s;
	border: box-border;

}
.container2 .card:hover{
	transform: translateY(-40px);
}
.container2 .card .imgbx{
	position: relative;
	width: 300px;
	height: 150px;
	background: #00c7ff;
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
}
h4{
	text-align: center;
	
	font-weight: 100;
	letter-spacing: 0.5rem;
}
.container2 .card .imgbx img:hover{
	color: #fff;
}
.container2 .card .imgbx .aa{
	text-align: left;
}
.zz
{
	position: relative;
	width: 2000px;
	display: flex;
	justify-content: space-around;
	display: flex;
	flex-wrap: wrap;
}
.zz .bb
{
	position: relative;
	width: 250px;
	background: linear-gradient(0deg,#1b1b1b,#222,#1b1b1b);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 300px;
	border-radius: 4px;
	text-align: center;
	overflow: hidden;
	transition: 0.5s;
}
.zz .bb:hover
{
	transform: translateY(-10px);
	box-shadow: 0 14px 35px rgba(0,0,0,0.5);
}
.zz .bb:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	pointer-events: none;
	z-index: 1;
}
.cc ul li a{
	text-decoration: none;
	text-decoration-color: #fff;

}
.percent
{
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	box-shadow: inset 0 0 50px #000;
	background: #222;
	z-index: 1000;

}
.percent .number
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}
.percent .number h2
{
	color: #777;
	font-weight: 700;
	font-size: 40px;
	transition: 0.5s;
}
.bb:hover .percent .number h2
{
	color: #fff;
	font-size: 60px;
}
.bb:hover .percent .number h2 ul
{
	color: #fff;
	font-size: 60px;
}
.percent .number h2 span
{
	font-size: 24px;
	color: #777;
}
.bb:hover .percent .number h2 span
{
	color: #fff;
}
.text
{
	position: relative;
	color: #777;
	margin-top: 20px;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: 0.5s;

}
.bb:hover .text
{
	color: #fff;
}
svg
{
	position: relative;
	width: 150px;
	height: 150px;
	z-index: 1000;

}
svg circle
{
	
	width: 100%;
	height: 100%;
	fill: none;
	stroke: #191919;
	stroke-width: 10;
	stroke-linecap: round;
	transform: translate(5px,5px);
}
svg circle:nth-child(2)
{
	stroke-dasharray: 440;
	stroke-dashoffset: 440;
}
.bb:nth-child(1) svg circle:nth-child(2)
{
	stroke-dashoffset: calc(440 - (400 * 50) / 100);
	stroke: #00ff43;
}
.bb:nth-child(2) svg circle:nth-child(2)
{
	stroke-dashoffset: calc(440 - (400 * 80) / 100);
	stroke: #00a1ff;
}
.bb:nth-child(3) svg circle:nth-child(2)
{
	stroke-dashoffset: calc(440 - (400 * 40) / 100);
	stroke: #ff04f7;
}
.bb:nth-child(4) svg circle:nth-child(2)
{
	stroke-dashoffset: calc(440 - (400 * 40) / 100);
	stroke: #ffa500;
}
.contact-section{
text-align: center;
padding: 80px 0;
}
.inner-width{
	max-width: 800px;
	margin: auto;
	padding: 0 20px;
}
.contact-section h1{
	font-size: 30px;
	color: #000;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.8rem;
	font-weight: 400;
}
.name,.email,.message{
	background: none;
	border: none;
	outline: none;
	border-bottom: 1px solid;
	color: #888;
	padding: 10px 6px;
    font-size: 24px;
    margin-bottom: 40px;
}
.name{
	float: left;
	width: 270px;
}
.email{
	float: right;
	width: 270px;
}
.message{
	min-width: 100%;
	max-width: 100%;
}
.contact-section button{
	background: none;
	color: #70a1ff;
	border: 1px solid #70a1ff;
	padding: 12px 40px;
	border-radius: 8px;
}
.contact-section button:hover{
	background: #70a1ff;
	color: #fff;
}
.vv{
	justify-content: center;
	align-items: center
}
.sci ul li{
	list-style: none;
}
.sci ul{
	display: flex;
}
.sci{
	position: relative;
	display: flex;
	margin: 2px 0;
	justify-content: center;
	align-items: center;

}
.sci ul li a{
	text-decoration: none;
	display: inline-block;
	margin: 0 30px;

}
.sci ul li a:hover img{
	opacity: 0.5;
}

header{
	padding: 5px 50px;
	border-width: 100%;
	border


}